extends layout
block content
 h1= title
 if (toShow == null)
  h2 No instance to update
 else
  - let Booksid = toShow._id
  - let book_name = toShow.book_name
  - let Books_size = toShow.Books_size
  - let Books_cost = toShow.Books_cost

  div.row(class='mb-2')
   div.mr-1 ID is
   div #{Booksid}
  - let actionid = "/resource/Books/" + Booksid
  form(id='BooksForm', action= actionid, method="PUT")
   div.form-group
     label.BooksAttr(for='book_name') Books name
     input#book_name(type='text', name='book_name', value= book_name )
   div.form-group
     label.BooksAttr(for='book_genre') Books genre
     input#book_genre(type='text', name='book_genre', value= book_genre )
   div.form-group
     label.BooksAttr(for='book_cost') Books cost
     input#book_cost(type='number', name='book_cost', value= book_cost )
   input(type="submit")
 script.
   document.forms['BooksForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
      method: 'PUT',
      body: new URLSearchParams(new FormData(event.target)) // event.target is the form
     }).then((resp) => {
      return resp.json(); // or resp.text() or whatever the server sends
     }).then((body) => {
      alert("Update succeded")
      // TODO handle body
    }).catch((error) => {
     // TODO handle error
     alert("Update failed " + error )
    });
  });