body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.BooksAttr {
  background-color: rgb(255, 206, 127);
  width: 120px;
  margin: 10px 10px;
  padding: 5px;
  text-align: left;
  background-origin: padding-box; 
  border:3px solid purple;
  }
  